/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google fonts */
.google-fonts-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* navber section */
nav {
    border: 3px solid red;
    width: 1600px;
    height: 92px;
    padding: 16px 120px;
    /* background-color: #FFFFFF; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img {
    width: 139px;
}

nav .menu ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

nav .menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

nav button {
    color: #FFFFFF;
    background-color: #469165;
    cursor: pointer;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600px;
    border: none;
    border-radius: 4px;
}
