/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google fonts */
.google-fonts-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* navber section */
nav {
    width: 1600px;
    height: 92px;
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo-navbar img {
    width: 139px;
}

nav .menu ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

nav .menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

nav button {
    color: #FFFFFF;
    background-color: #469165;
    cursor: pointer;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600px;
    border: none;
    border-radius: 4px;

}

nav button:hover {
    background-color: #64c48c;
}

/* banner css section */
#Banner {
    padding: 70px 120px 134px 120px;
    background-image: url(../image/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
}

.Banner-container {
    text-align: center;
    height: 379px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Banner-container .border {
    background-color: #FFFFFF;
    border-radius: 1000px;
    font-size: 16px;
    padding: 8px 12px;
    color: #469165;
    margin-bottom: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.Banner-container .heading-1 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bold;
}

.Banner-container .heading-2 {
    color: #30B868;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 16px;
}

.Banner-container p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.btn {
    display: flex;
    gap: 16px;
    margin-top: 32px;
}

.btn .btn-1 {
    width: 251px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600px;
    padding: 16px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    text-align: center;
}

.btn .btn-1:hover {
    background-color: #64c48c;
}

.btn .btn-2:hover {
    background-color: #64c48c;
}

.btn .btn-2 {
    width: 198px;
    font-size: 16px;
    font-weight: 600px;
    padding: 16px;
    border-radius: 4px;
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border: 1px solid #FFFFFF;
}

/* notes css section */
#notes {
    padding: 0 120px;
}

.notes-content {
    text-align: center;
}

.notes-content h2 {
    font-size: 48px;
    font-weight: bold;
    padding-top: 35px;
    margin-bottom: 16px;
}

.notes-content p {
    font-size: 16px;
    color: #627382;
}

.notes-box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 24px;
}

.notes-card {
    width: 322px;
    border-radius: 8px;
    padding: 24px;
    margin-top: 44px;
    box-shadow: 0 0 8px 0 #595858;
}

.notes-card img {
    background-color: #F95555;
    padding: 5px;
    margin-bottom: 16px;
    border-radius: 100%;
}

.notes-card h3 {
    font-size: 24px;
    font-weight: 600px;
    color: #001931;
    margin-bottom: 16px;
}

.notes-card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

/* Second Brain css Section */
#brain-section {
    padding: 120px;
}

.brain-container {
    display: flex;
    align-items: center;
    gap: 60px;
}

.image img {
    border-radius: 12px;
}

.brain-content .style {
    font-size: 16px;
    color: #469165;
    font-weight: 300;
    margin-bottom: 16px;
}

.brain-content h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.brain-content p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.brain-content .list li {
    font-size: 16px;
    margin-bottom: 16px;
    color: #001931;
    list-style: none;
}

/* Early Access css Section */
#early {
    padding: 0 120px 120px 120px;
}

.early-container {
    background-color: #F7F6F2;
    padding: 80px 40px;
    text-align: center;
}

.early-container h2 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.early-container p {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

.early-container button {
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #469165;
    border: none;
    cursor: pointer;
    margin-bottom: 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
    text-align: center;
    box-shadow: 0 10px 2px 0 #000000 15%;
    box-shadow: 0px 10px 10px 0px gray;
}

.early-container button:hover {
    background-color: #64c48c;
}

/* Footer css Section */
#footer {
    border: 3px solid black;
    background-color: #001931;
    padding: 120px 120px 30px 120px;
}

.footer-container {
    width: 1360px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.icons {
    display: flex;
    gap: 10px;
}

.Social {
    margin-right: 130px;
}

.Social p {

    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 8px;
}

.icons a {
    background-color: white;
    border-radius: 100%;
    padding: 5px;
}

footer small {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 18px;
}